{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user is null %}
        <div class="text-2xl">{{ "HELLO WORLD!"|trans }}</div>
        <a class="link-light" href="{{ path("app_login") }}">{{ "Log in!"|trans }}</a>
    {% else %}
        <div class="text-2xl">HOLA {{ app.user.username }}!</div>
        <a href="{{ path("app_logout") }}">{{ "Log out"|trans }}</a>
    {% endif %}

    {{ include('resoluciones/_resoluciones.html.twig', {resoluciones: resoluciones}) }}

{% endblock %}
